body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #d52068, #98294e);
    color: #0d91b9;
    line-height: 1.6;
}



header {
    text-align: center;
    background: linear-gradient(135deg, #ae16c2, #75fff4);
    color: rgb(215, 201, 41);
    padding: 2rem;
    animation: fadeIn 2s;
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px #2aa6cf;
}

header p {
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 1rem;
}


nav {
    background: #1137ab;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
}

nav ul li a {
    color: rgb(189, 33, 160);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: transform 0.2s;
}

nav ul li a:hover {
    transform: scale(1.2);
    text-shadow: 0 0 8px rgb(39, 176, 103);
}


section {
    margin: 2rem auto;
    padding: 2rem;
    background: rgb(167, 212, 20);
    max-width: 900px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: scale(1.02);
}

h2 {
    color: #758aff;
    text-shadow: 1px 1px #ddd;
    font-size: 2rem;
    margin-bottom: 1rem;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #740ab6;
    box-shadow: 0 2px 10px rgba(25, 192, 186, 0.1);
}

th, td {
    padding: 0.75rem 1rem;
    text-align: left;
    border: 1px solid #ddd;
}

thead {
    background-color: #df75ff;
    color: rgb(43, 143, 215);
}

tbody tr:hover {
    background-color: #2e1ac2;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.gallery img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.gallery img:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


footer {
    text-align: center;
    padding: 1rem;
    background: #181aa6;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}